<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>836127824057-fr2pch5c4to7fbikeaibkqtkb68ev3ai.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.836127824057-fr2pch5c4to7fbikeaibkqtkb68ev3ai</string>
	<key>API_KEY</key>
	<string>AIzaSyCg9U8rgPCC_jtf5FMNwTvxtUYCG00mYkI</string>
	<key>GCM_SENDER_ID</key>
	<string>836127824057</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.neopos</string>
	<key>PROJECT_ID</key>
	<string>neo-pos-6b9ed</string>
	<key>STORAGE_BUCKET</key>
	<string>neo-pos-6b9ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:836127824057:ios:b12a1c8ee703406200a368</string>
</dict>
</plist>